/* http://neat.bourbon.io/docs/ */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  position: relative;
  font-family: "ff-tisa-web-pro",serif; }

h2, h3, p, blockquote, small, li {
  line-height: 1.3em; }

h2 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  h2:last-child {
    margin-right: 0; }

h3 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  text-align: right;
  font-size: 2em; }
  h3:last-child {
    margin-right: 0; }

p {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-top: 0px; }
  p:last-child {
    margin-right: 0; }

section {
  width: 100%;
  height: auto;
  min-height: 100% !important;
  -webkit-transform: translate3d(0, 0, 0); }

.contents {
  max-width: 62.5em;
  margin-left: auto;
  margin-right: auto;
  padding: 10% 0 15% 0; }
  .contents:after {
    content: "";
    display: table;
    clear: both; }

.black {
  background-color: black;
  color: white; }

.red {
  background-color: #ed553b;
  color: white; }

.teal {
  background-color: #068587;
  color: white; }

.yellow {
  background-color: #f2b134;
  color: black; }

.white {
  background-color: white;
  color: black; }

#hvz-logo {
  background: url("../img/webhvzsmall.jpg") no-repeat;
  background-size: cover;
  padding: 0 0 0 0; }
  #hvz-logo img {
    max-width: 450px;
    width: 50%; }

#intro {
  text-align: center; }
  #intro p {
    font-size: 38pt; }
  #intro img {
    width: 100%;
    max-width: 1000px; }

#history {
  padding: 0 0 0 0; }
  #history p {
    font-size: 30pt; }
  #history .history-text {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    #history .history-text:last-child {
      margin-right: 0; }
  #history #videos {
    display: block;
    height: 180px; }
    #history #videos:after {
      content: "";
      display: table;
      clear: both; }
    #history #videos .video-holder {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      text-align: center; }
      #history #videos .video-holder:last-child {
        margin-right: 0; }
      #history #videos .video-holder .video-label {
        font-size: 14px; }

#quote blockquote {
  font-size: 55pt;
  font-style: italic; }

#rules p {
  font-size: 20pt; }
#rules h2 {
  font-size: 22pt; }
#rules a {
  color: black; }
#rules .equipment-row {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  #rules .equipment-row:last-child {
    margin-right: 0; }
  #rules .equipment-row .equipment-item {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    #rules .equipment-row .equipment-item:last-child {
      margin-right: 0; }
    #rules .equipment-row .equipment-item .eq-big-img {
      max-width: 300px;
      min-width: 300px;
      width: 100%; }
    #rules .equipment-row .equipment-item .eq-label {
      font-size: 20pt; }
    #rules .equipment-row .equipment-item .check {
      position: relative;
      top: 15px;
      max-width: 20%; }
#rules .no-play-row {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-bottom: 30px; }
  #rules .no-play-row:last-child {
    margin-right: 0; }
  #rules .no-play-row .no-play-item {
    display: inline-block;
    max-width: 170px;
    margin-left: 9px;
    margin-right: 9px;
    vertical-align: top; }
    #rules .no-play-row .no-play-item .no-play-img {
      width: 100%; }
    #rules .no-play-row .no-play-item .no-play-label {
      font-size: 18pt; }
#rules .safety-row {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  #rules .safety-row:last-child {
    margin-right: 0; }
  #rules .safety-row .safety-item {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    min-width: 310px; }
    #rules .safety-row .safety-item:last-child {
      margin-right: 0; }
    #rules .safety-row .safety-item .safety-img {
      width: 30%;
      display: inline-block;
      vertical-align: top;
      position: relative;
      min-width: 100px; }
    #rules .safety-row .safety-item #safety-img-1 {
      top: 15px; }
    #rules .safety-row .safety-item #safety-img-2 {
      top: 15px; }
    #rules .safety-row .safety-item #safety-img-3 {
      top: 10px; }
    #rules .safety-row .safety-item #safety-img-4 {
      top: 10px; }
    #rules .safety-row .safety-item .safety-text {
      width: 68%;
      display: inline-block;
      vertical-align: top;
      min-width: 200px; }
      #rules .safety-row .safety-item .safety-text ol {
        list-style-position: inside;
        margin-left: 0px; }
        #rules .safety-row .safety-item .safety-text ol li {
          font-size: 25pt; }
#rules .safety-disclaimer {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-top: 20px; }
  #rules .safety-disclaimer:last-child {
    margin-right: 0; }
  #rules .safety-disclaimer small {
    font-size: 9pt; }
#rules .team-rules-row {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  #rules .team-rules-row:last-child {
    margin-right: 0; }
  #rules .team-rules-row .team-column {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    min-width: 300px; }
    #rules .team-rules-row .team-column:last-child {
      margin-right: 0; }

#info h2 {
  font-size: 30pt; }
#info p {
  font-size: 25pt;
  padding: 0 0 0 40px; }
#info a {
  color: #f2b134; }

#footer a {
  color: #ed553b; }
#footer .gnar-info {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  #footer .gnar-info:last-child {
    margin-right: 0; }
  #footer .gnar-info img {
    width: 100%; }
  #footer .gnar-info li {
    display: inline; }
#footer .message {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  #footer .message:last-child {
    margin-right: 0; }
  #footer .message .input-fields {
    display: block;
    width: 100%;
    background-color: #f1f1f1;
    border: none;
    padding: 15px; }
  #footer .message .message-email {
    margin-top: 15px; }
  #footer .message .message-body {
    margin-top: 25px; }
  #footer .message button {
    background-color: #c6c6c6;
    border: none;
    padding: 15px;
    float: right;
    margin-top: 20px; }

#gnar-logo {
  background-color: #e4eae8; }
  #gnar-logo img {
    max-width: 450px;
    width: 50%; }

#slap-logo {
  background: url("../img/slapbg.jpg") no-repeat;
  background-size: cover;
  padding: 0 0 0 0; }
  #slap-logo img {
    max-width: 450px;
    width: 50%; }

#gnar-footer {
  background-color: #345c64;
  color: white; }
  #gnar-footer .logo-row {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    #gnar-footer .logo-row:last-child {
      margin-right: 0; }
    #gnar-footer .logo-row img {
      max-width: 1000px; }
  #gnar-footer .footer-content-row {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    #gnar-footer .footer-content-row:last-child {
      margin-right: 0; }
    #gnar-footer .footer-content-row .footer-text {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      font-size: 25pt; }
      #gnar-footer .footer-content-row .footer-text:last-child {
        margin-right: 0; }
      #gnar-footer .footer-content-row .footer-text a {
        color: white; }
    #gnar-footer .footer-content-row .gnestor {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      #gnar-footer .footer-content-row .gnestor:last-child {
        margin-right: 0; }
      #gnar-footer .footer-content-row .gnestor img {
        max-width: 500px; }

.hidden-wufoo {
  display: none; }
