/* http://neat.bourbon.io/docs/ */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  position: relative; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

h2 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  h2:last-child {
    margin-right: 0; }

h3 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  text-align: right;
  font-size: 2em; }
  h3:last-child {
    margin-right: 0; }

p {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  width: 100%;
  margin-top: 0px;
  font-size: 1.5em; }
  p:last-child {
    margin-right: 0; }

blockquote {
  font-size: 2.5em; }

section {
  width: 100%;
  height: auto;
  min-height: 100% !important;
  -webkit-transform: translate3d(0, 0, 0); }

.contents {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 10% 0 15% 0; }
  .contents:after {
    content: "";
    display: table;
    clear: both; }

.black {
  background-color: black;
  color: white; }

.red {
  background-color: #ed553b;
  color: white; }

.teal {
  background-color: #068587;
  color: white; }

.yellow {
  background-color: #f2b134;
  color: black; }

.white {
  background-color: white;
  color: black; }

#hvz-logo {
  background: url("../img/webhvzsmall.jpg") no-repeat;
  background-size: cover;
  padding: 0 0 0 0; }

#intro {
  text-align: center; }

#intro p {
  padding: 0 30% 0 30%; }

#intro img {
  width: 600px; }

#history {
  padding: 0 0 0 0; }
  #history .history-text {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    #history .history-text:last-child {
      margin-right: 0; }
  #history .history-videos {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin-top: 60px; }
    #history .history-videos:last-child {
      margin-right: 0; }
    #history .history-videos .video-holder {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      text-align: center; }
      #history .history-videos .video-holder:last-child {
        margin-right: 0; }
      #history .history-videos .video-holder .video {
        height: 180px;
        background-color: black; }

#rules p {
  font-size: 1.25em; }
#rules ul {
  margin-top: 0px;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  padding: 0 0 0 0; }
  #rules ul:last-child {
    margin-right: 0; }
#rules li {
  margin-left: 1em; }
#rules a {
  color: #112f41; }
#rules p.rules-intro {
  font-size: 1.4em; }

#info p {
  padding: 0 0 0 40px; }
  #info p a {
    color: #f2b134; }

#footer a {
  color: #ed553b; }
#footer .gnar-info {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  #footer .gnar-info:last-child {
    margin-right: 0; }
  #footer .gnar-info img {
    width: 500px; }
  #footer .gnar-info li {
    display: inline; }
#footer .message {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  #footer .message:last-child {
    margin-right: 0; }
  #footer .message .input-fields {
    display: block;
    width: 100%;
    background-color: #f1f1f1;
    border: none;
    padding: 15px; }
  #footer .message .message-email {
    margin-top: 15px; }
  #footer .message .message-body {
    margin-top: 25px; }
  #footer .message button {
    background-color: #c6c6c6;
    border: none;
    padding: 15px;
    float: right;
    margin-top: 20px; }

#gnar-logo {
  background-color: #e4eae8; }

#gnar-footer {
  background-color: #345c64;
  color: white; }
  #gnar-footer .logo-row {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    #gnar-footer .logo-row:last-child {
      margin-right: 0; }
  #gnar-footer .footer-content-row {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    #gnar-footer .footer-content-row:last-child {
      margin-right: 0; }
    #gnar-footer .footer-content-row .footer-text {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      #gnar-footer .footer-content-row .footer-text:last-child {
        margin-right: 0; }
      #gnar-footer .footer-content-row .footer-text a {
        color: white; }
    #gnar-footer .footer-content-row .gnester {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      #gnar-footer .footer-content-row .gnester:last-child {
        margin-right: 0; }

.hidden-wufoo {
  display: none; }
