//gnarwhal variables

$dark-blue: #0b3543;
$kindof-dark-blue: #335c65;
$middle-blue: #4f7282;
$lightish-blue: #7895a3;
$light-blue: #e3ebe9;

//HvZ variables
$green: #4fb99f;
$yellow: #f2b134;
$red: #ed553b;
$teal: #068587;
$dark-blue: #112f41;

//yes I know naming them by color is badform but I DONT KNOW WHAT THEY DO YET BEN GET OFF MY BACK
