/* http://neat.bourbon.io/docs/ */
@import 'bourbon/bourbon';
@import "variables";
@import 'neat/neat';
html, body {
    height: 100%;
}
body {
    position:relative;
}

h2 {
    @include span-columns(12);
}

h3 {
    @include span-columns(12);
}

p {
    @include span-columns(12);
    @include fill-parent();
    margin-top:0px;
}

section {
    height: 150%;
    width: 100%;
}

.contents {
    @include outer-container;
    font-size:1.5em;
    
}

.black {
    background-color: black;
    color: white;
}
.red {
    background-color: $red;
    color: white;
}

.teal {
    background-color: $teal;
    color: white;
}

.yellow {
    background-color: $yellow;
    color:black;
}

.white {
    background-color: white;
    color:black;
}

#intro {
    @include pad(3% 20% 0 20%);
    text-align:center;
    font-size:1.75em;
}
#logo {
    @include pad(7% 10% 0 10%);
}
