/* http://neat.bourbon.io/docs/ */
@import 'bourbon/bourbon';
@import "variables";
@import 'neat/neat';
html, body {
    height: 100%;
}
body {
    position:relative;
    font-family: "ff-tisa-web-pro",serif;
}

h2 {
    @include span-columns(12);
    line-height:1.1em
}

h3 {
    @include span-columns(12);
    text-align:right;
    font-size:2em;
}

p {
    @include span-columns(12);
    margin-top:0px;
    line-height:1.1em;
}

blockquote {
    line-height:1.1em;

}
small {
    line-height:1.1em;
}
section {
    width: 100%;
    height: auto;
    min-height: 100% !important;
    -webkit-transform: translate3d(0,0,0);
}

.contents {
    @include outer-container;
    @include pad(10% 0 15% 0);

}

.black {
    background-color: black;
    color: white;
}
.red {
    background-color: $red;
    color: white;
}

.teal {
    background-color: $teal;
    color: white;
}

.yellow {
    background-color: $yellow;
    color:black;
}

.white {
    background-color: white;
    color:black;
}

#hvz-logo {
    background: url('../img/webhvzsmall.jpg') no-repeat;
    background-size: cover;
    @include pad(0 0 0 0);

    img {
        max-width: 450px;
        width:50%
    }
}


#intro {
    text-align:center;

    p {
        font-size:38pt;
    }

    img {
        width:100%;
        max-width:1000px;
    }
}

#history {
    @include pad(0 0 0 0);

    p {
        font-size:30pt;
    }

    .history-text {
        @include span-columns(12);
    }

   #videos {
        @include span-columns(12);
        .video-holder {
            @include span-columns(4 of 12);
            max-width:280px;
            min-width:280px;


            text-align:center;

            .video {
                
                height:180px;
            }
            .video-label {
                font-size:14px;
            }
        }
    }
}
#quote {
    blockquote {
        font-size:55pt; // first sentence on first line
        font-style:italic;// italic
    }
}

#rules {
    p {
        font-size:20pt;
    }

    h2 {
        font-size:22pt;
    }   
    a {
        color:black;
    }

    .equipment-row {
        @include span-columns(12);

        .equipment-item {
            @include span-columns(4 of 12);
            .eq-big-img {
                max-width:300px;
                min-width:300px;
                width:100%
            }
            .eq-label {
                font-size:20pt;
            }
            .check {
                position:relative;
                top:15px;
                max-width:20%;
            }
        }
    }
    .no-play-row {
        @include span-columns(12);
        margin-bottom:30px;

        .no-play-item {
            display:inline-block;
            max-width:170px;
            margin-left:9px;
            margin-right:9px;
            vertical-align:top;

            .no-play-img {
                width:100%
            }
            .no-play-label {
                font-size:18pt;
            }
        }

    }
    .safety-row {
        @include span-columns(12);
        .safety-item {
            @include span-columns(6 of 12);
            min-width:310px;

            .safety-img {
                width:30%;
                display:inline-block;
                vertical-align:top;
                position:relative;
                min-width:100px;
            }
                
            #safety-img-1 {
                top:15px;
            }
            #safety-img-2 {
                top:15px;
            }
            #safety-img-3 {
                top:10px;
            }
            #safety-img-4 {
                top:10px;
            }
            
            .safety-text {
                width:68%;
                display:inline-block;
                vertical-align:top;
                min-width:200px;

                li {
                    font-size:25pt;
                }
            }
        }
    }
    .safety-disclaimer {
        @include span-columns(12);
        margin-top:20px;

        small {
            font-size:9pt;
        }
    }
    .team-rules-row {
        @include span-columns(12);

        .team-column {
            @include span-columns(6 of 12);
            min-width:300px;
            
        }
    }

}

#info {
    h2 {
        font-size:30pt;
    }
    p {
        font-size:25pt;
        @include pad(0 0 0 40px);
    }
    a {
        color:$yellow;
    }
}

#footer {
    a {
        color:$red;
    }

    .gnar-info {
        @include span-columns(6);
        img {
            width:100%;
        }


        li {
            display:inline;
        }
    }
    .message {
        @include span-columns(6);
        .input-fields {
            display:block;
            width:100%;
            background-color:$input-background;
            border:none;
            padding:15px;
        }
        .message-email {
            margin-top:15px;
        }
        .message-body {
            margin-top:25px;
        }
        button {
            background-color:$submit-background;
            border:none;
            padding:15px;
            float:right;
            margin-top:20px;
        }
    }
}

// GNARWHAL

#gnar-logo {
    background-color:$gnar-logo-bg;

    img {
        max-width: 450px;
        width:50%
    }
}

#slap-logo {
    background: url('../img/slapbg.jpg') no-repeat;
    background-size: cover;
    @include pad(0 0 0 0);

    img {
        max-width: 450px;
        width:50%;
    }

}

#gnar-footer {
    background-color:$gnar-footer-bg;
    color:white;

    .logo-row {
        @include span-columns(12);
        img {
            max-width:1000px;
        }
    }
    .footer-content-row {
        @include span-columns(12);

        .footer-text {
            @include span-columns(6 of 12);
            font-size:25pt;
            a {
                color:white;
            }
        }
        .gnestor {
            @include span-columns(6 of 12);
            img {
                max-width:500px;
            }
        }
    }
}

//wufoo

.hidden-wufoo {
    display:none;
}
